
<h1>用户列表</h1>
 <% if notice %>
<p id="notice"><% notice %></p>
<% end %>  
<table>
  <tr>
    <th>Name</th>
     
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user|  %>
  <tr>
    <td><%= user.name if user.name!="yhaitao"%></td>
     
    <td><%= link_to 'Show', user if user.name!="yhaitao"%></td>
    <td><%= link_to 'Edit', edit_user_path(user) if user.name!="yhaitao"%></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } if user.name!="yhaitao"%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
